@import "~materialize-css/dist/css/materialize.min.css";

input.login-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}

input.login-input + label {
    color: #ffffff;
}

input.login-input:focus + label {
    color: #ffffff;
}

input.login-input:focus {
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}