/* montserrat-regular - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v15-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v15-latin_cyrillic-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v15-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v15-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v15-latin_cyrillic-500.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v15-latin_cyrillic-600.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v15-latin_cyrillic-600.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-600.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-600.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v15-latin_cyrillic-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v15-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v15-latin_cyrillic-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v15-latin_cyrillic-800.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v15-latin_cyrillic-800.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-800.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-800.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v15-latin_cyrillic-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin_cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v15-latin_cyrillic-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/montserrat-v15-latin_cyrillic-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v15-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-900.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v15-latin_cyrillic-900.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v15-latin_cyrillic-900.svg#Montserrat') format('svg'); /* Legacy iOS */
}

input.login-input {
    border-bottom: 1px solid #fff!important;
    box-shadow: 0 1px 0 0 #fff!important;
}

input.login-input + label {
    color: #ffffff;
}

input.login-input:focus + label {
    color: #ffffff;
}

input.login-input:focus {
    border-bottom: 1px solid #ffeb3b!important;
    box-shadow: 0 1px 0 0 #ffeb3b!important;
}

body{
    box-sizing: border-box;
    /*background: #D6D3FF; D5D4DF*/
    background: #ebeef9;
}
*, *::before, *::after{
    box-sizing: inherit;
}


.container{
    font-family: 'Montserrat';
    /*max-width: 1770px;*/
    max-width: 95%;
    margin: 0 auto;
    border-radius: 25px;
    background: #E7E6F7;
    /*background: #f6f7ff;*/
}

.header-logo{
    padding-left: 1rem;
}

.flex-header-container{
    margin-top: 1rem;
    padding-top:2rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.profile-container {
    display: flex;
    align-items: center;
}


.footer-container{
    display: flex;
    align-items: center;
    color: #8D828D;
}

.footer-item{
    padding-right: 3rem;
}

.profile-img{
    max-width: 4rem;
    border-radius: 50%;

}

.section-content{
    flex-grow: 1;
}

.profile-container var{
    font-size: 18px;
    font-weight: 600;
    color: #827081;

}


.profile-container img {
    padding-left: 10px;
    padding-right: 10px;
}

.profile-container h3{
    font-size: 24px;
    font-weight: 700;
    color: #615060;
}

.main-container{
    width: 100%;
    min-height: 53.1875rem;;
    display: inline-flex;

}

.nav-bar{
    border-radius: 25px;
    height: 50rem;
    width: 22.8125rem;
    background: #ffffff;
    display: inline-flex;
    position: sticky;
    top: 8em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.game-nav{
    border-radius: 25px;
    height: 50rem;
    width: 10rem;
    background: #827081;
    position: sticky;
    top: 0;
}



.game-list{
    margin:auto;
    text-align: center;
}

.game-option{
    text-align: center;
    border-radius: 25px;
    background: #998598;
    height: 4.375rem;
    width: 4.375rem;
    position: relative;
    margin-bottom: 1.75rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
}

.game-option-img{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.game-option-active{
    text-align: center;
    border-radius: 25px;
    height: 4.375rem;
    width: 4.375rem;
    position: relative;
    margin-bottom: 1.75rem;
    background: #E3D0D8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border:none;
}

.game-option-menu{
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    margin:auto;
    text-align: center;
}

.option-nav{
    font-size: 18px;
    height: 100%;
    width: 100%;
}

.option-container{
    text-align: center;
    padding-top: 3rem;
}

.option-link{
    text-decoration: none;
    color: #827081;
    outline: 0;
}



.option-li{
    outline: 0;
    text-align: center;
    padding-bottom: 3rem;
}

.option-li img{
    padding-right: 0.5rem;
}

.content-container{
    width: 100%;
    overflow: hidden;
    padding-right: 2rem;
    padding-left: 2rem;
}

.my-profile-container{
    height: 100%;
    display: grid;
    grid-template-rows: 3.5rem 22.5rem 3.5rem 1fr;
    grid-template-columns: 0.4fr 0.6fr ;
    grid-gap: 2rem;

}

.my-profile-title{
    grid-area: 1/1/2/3;
    text-align: center;
    margin: auto;
    color: #615060;
    font-size: 36px;
    font-weight: bold ;
}

.my-profile-title-games{
    grid-area: 3/1/4/3;
    text-align: center;
    margin: auto;
    color: #615060;
    font-size: 36px;
    font-weight: bold ;
}

.my-profile-card{
    background: #D9D7F1;
    border-radius: 25px;
   padding: 2rem;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.info-card{
    display: grid;
    grid-template-columns: 0.2fr 0.7fr 0.1fr;
    grid-template-row:0.3fr 0.7fr;
}

.nickname-card{

    padding-top: 1rem;
    color: #615060;
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 0.5rem;

}

.summonersname-card{

    color: #827081;
    font-weight: 700;
    font-size: 24px;
}

.info-card-profile{

}

.info-card-main{
    padding-top: 1rem;
    grid-area: 2/1/3/3;
    color: #827081;
    font-size:18px;
    height: 12.5rem;
}

.info-card-main div{
    padding-bottom: 0.5rem;
}

.info-card .currency{
    padding-top: 1rem;
    font-weight: 500;
    color: #615060;
}

.info-card .currency .redcoin{
    padding-top: 0.3rem;
    font-weight: 500;
    color: #615060;
}

.info-card .currency .redcoin img{
    padding-left: 5px;
    width: 43%;
}

.card-edit{
    margin-left:auto;
    margin-top:auto
}


.my-profile-statistics{
    display: grid;
    background: #D9D7F1;
    border-radius: 25px;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-row:1fr 1fr;
}

.statistics-card{
    /*width: 235px;*/
    width: 80%;
    height: 100px;
    background: #998598;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: auto;
    position: absolute ;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.statistics-card-area{
    text-align: center;
    position: relative;
}

.statistics-card-area p{
    padding-top: 9.5rem;
    color: #998598;
    font-size: 16px;
    font-weight: 800;
}

.card-container{
    padding-top: 15px;
    font-size: 72px;
    color: #E3D0D8;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}


.line-statistics{;
    padding-right: 10px;
}

.card-container var{
    padding-left: 10px;
}

.open-statistics{
    position: relative ;
    grid-area: 1/3/3/3;
}

.statistics-card-more{
    width: 100px;
    height: 285px;
    background: #998598;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin: auto;
    position: absolute ;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    padding-top: 125px;
    padding-left: 25px;
}

.my-profile-games{
    border-radius: 25px;
    grid-area: 4/1/5/3;
    mix-blend-mode: normal;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 0.2rem;
}

/*@media only screen and (max-width: 1920px) {*/
/*    .my-profile-games {*/
/*        grid-template-columns: 1fr 1fr 1fr;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 900px) {*/
/*    .my-profile-games {*/
/*        grid-template-columns: 1fr 1fr;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 600px) {*/
/*    .my-profile-games {*/
/*        grid-template-columns: 1fr;*/
/*    }*/
/*}*/

.tournament-card{
    display:grid;
    width: 28rem;
    height: 22.75rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:7rem 9rem 7rem;
    text-decoration:none;
}

.news-card{
    display:grid;
    width: 28rem;
    height: 22.75rem;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:7rem 8.5rem 7rem;
    text-decoration:none;
}

.news-card-title{
    color: #E3D0D8;
    font-size:24px;
    font-weight: 600;
    position: absolute;
    padding-top: 12rem;
    padding-left: 1rem;
}
.news-card-topic{
    color: #E3D0D8;
    font-size:18px;
    font-weight: 400;
    position: absolute;
    padding-top: 14rem;
    padding-left: 1rem;
}

.card-news{
    grid-area: 3/1/4/4;
    color: #615060;
    padding: 0.5rem;
    position: relative;
}

.image-card{
    grid-area: 1/1/3/3;
}

.news-date{
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.news-content{
    width: 100%;
    height: 4rem;
    position: absolute;
    overflow:hidden
}

.image-card img{
    border-radius: 25px 25px 0 0;
    width: 100%;
}

.image-card h5{
    color: #E3D0D8;
    font-size:24px;
    font-weight: 600;
    position: absolute;
    padding-top: 13rem;
    padding-left: 1rem;
}

.card-left{
    color: #827081;
    font-size:18px;
    font-weight: 400;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

}

b{
    font-weight: 600 !important;
}

.card-right{
    color: #827081;
    font-size:18px;
    font-weight: 400;

}

.card-format{
    padding-top: 10px;
}

.card-date{
    padding-top:20px;
}

.card-participants{
    padding-top:20px;
    padding-right:20px;
    text-align: right;
}

.tournaments-container{
    display: grid;
    grid-template-rows: 2rem 6rem 1fr   ;
}

.tournaments-title{
    text-align: center;
    margin: auto;
    color: #615060;
    font-size: 36px;
    font-weight: bold;
    padding-right: 4rem;
}

.tournaments-cards{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.tournaments-filter{
    margin-top: 2rem;
    display: inline-flex;
    justify-content: space-around;
}

.tournaments-search{
    position: relative;

}

.tournaments-search input{
    width: 525px;
    height: 46px;
    border: none;
    outline: none;
    background: #FFFFFF;
    border-radius: 25px;
    color: #827081;
    padding-left: 30px;

}

.tournaments-search button{
    position: absolute;
    border: none;
    outline: none;
    background: #827081;
    border-radius: 25px;
    width: 66px;
    height: 46px;
    margin-right: 400px;
    left:489px;
}

.tournaments-search input::-webkit-input-placeholder {
    color: #827081;
    font-size: 14px;
}

.tournament-nav{
    display: flex;
    justify-content: space-between;

    font-size: 28px;
    margin: 2.5rem 2rem ;
    font-weight: 500;
}

.tournaments_nav-link{
    text-decoration: none;
    color: #615060;
    outline: 0;
    display:flex;
    flex-direction: column;
    text-align: center;
}

.tournaments_nav-link img{
    padding-top: 5px;
}

.tournament-info-top{
    display: grid;
    /*542px 1fr*/
    grid-template-columns: 0.4fr 0.6fr;
    height: 300px;
    grid-gap: 2rem;
}

.tournaments-description{
    background: #D9D7F1;
    border-radius: 25px;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tournament-info-top img{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tournaments-description{
    color:#615060;
    font-weight: 800;
    padding-left: 1rem;
    padding-right: 1rem;
}

.tournaments-description div{
    text-align: center;
    font-weight: 800;
    color: #827081;
    margin: 1rem;
}

.card-bubble{
    background: #D9D7F1;
    border-radius: 25px;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.info-bubble{
    background: #998598;
    border-radius: 25px;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tournament-about-container{
    display: grid;
    grid-template-rows: 300px 1fr;
    grid-gap: 2rem;
}

.tournament-info-bottom{
    display: grid;
    grid-template-columns: 333px 374px 1fr;
    grid-gap: 2rem;
}

.tournament-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tournament-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
}

.tournament-state-info{
    width: 90%;
    height: 126px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.tournament-timer{
    display: inline-flex;
    font-size: 35px;
    justify-content: space-between;
}

.tournament-timer p{
    padding-left: 6px;
    padding-right:  6px;
    font-size: 35px !important;
}

.tournament-state-time{
    width: 343px;
    height: 126px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tournament-state-info div{
    margin-top: 1.5rem;
    font-size: 48px;
    color: #E3D0D8;
    font-weight: 400;
}

.tournament-state-info p{
    font-size: 16px;
    color: #E3D0D8;
    font-weight: 700;
    margin-top: 0.7rem;
}

.tournament-state-info img{
    margin-top: 0.5rem;
}

.tournament-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.tournament-register-button{
    width: 90%;
    height: 126px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: #FF6D6D;
}

.tournament-register-button div{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 2.7rem;
}



.tournament-confirm-button{
    width: 90%;
    height: 126px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: #10C200;
}

.tournament-confirm-button div{
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-top: 2.7rem;
}

.matches{
    display: flex;

}

.matches-filters{
    width: 25rem;
}

.matches-content{
    width: 100%;
}

.match-status{
    border-radius: 25px;
    width: 100%;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/
    border-radius: 25px;
    height: 120px;
    margin-bottom: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns:  2fr 1fr 2fr ;
}

.match-link{
    text-decoration:none;
}

.match-card-l{
    background: #D9D7F1;
    border-radius: 25px 0 0 25px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 100px;
    margin-bottom: 2rem;
}

.match-card-r{
    background: #D9D7F1;
    border-radius: 0 25px 25px 0;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 100px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: flex-end;

}

.match-card-c{
    background: #D9D7F1;

    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 100px;
    margin-bottom: 2rem;
}

.match-indicator-l{
    background: rgb(193, 200, 199);
    border-radius: 25px 0 0 25px;
    height: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.match-indicator-r{
    background: rgb(193, 200, 199);
    border-radius: 0 25px 25px 0;
    height: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.match-indicator-c{
    background: rgb(193, 200, 199);
    height: 90%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.left-gamer{
    display: inline-flex;
    justify-content: flex-start;
    align-items: stretch;
}

.match-gamer{
    padding-top: 0.5rem;
    display: flex;
    justify-content: center;
    width: 6rem;
    height: 5.5rem;
}


.right-gamer{
    display: inline-flex;
    justify-content: flex-end;
    align-items: stretch;
    border-radius: 25px;
}

.center-gamer{
    color: #615060;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indicator-gamer-l{
    border-radius: 25px 0 0 25px ;
}

.indicator-gamer-r{
    border-radius: 0 25px 25px 0 ;
}

.players-match{
    display: grid;
    grid-template-columns:2fr 2fr 2fr ;
    grid-gap: 4rem;
}

.time-match{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 23px;
    background: #D9D7F1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:  95px;
    font-family: Montserrat;
    font-weight: 800;
    color: #615060;
    font-size: 36px;
}

.players-match-l{
    background: #E3D0D8;
    border-bottom: 2px solid #615060;

    box-sizing: border-box;
    border-radius: 23px;
}

.players-match-r{
    background: #E3D0D8;
    border-bottom: 2px solid #615060;
    box-sizing: border-box;
    border-radius: 23px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 95px;
}

.bottom-match{
    margin-top: 2rem;
    background: #D9D7F1;
    min-height: 41.4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
    padding: 2rem;
    grid-gap: 2rem;
}

.chat-match{
    width: 100%;
    background: #FFFFFF;
    border-radius: 25px;
}

.left-gamer-indicator{
    background: #c1c8c7;
    border-radius: 25px;
    height: 7.5rem;
    border: 2px solid #615060;
}